.mokuji{
    float: left;
}

.index{
    width:700px;
    margin-right: auto;
    margin-left : auto;
}

.meiji_jingu{
    position: relative;
    width: 640px;
    height: 480px;
}

.senso-ji{
    position: relative;
    width: 640px;
    height: 480px;
}

.takaosan{
    position: relative;
    width: 640px;
    height: 480px;
}
