.meiji_jingu{
    position: relative;
    width: 100px;
    height: 100px;
    overflow:hidden;
}

.senso-ji{
    position: relative;
    width: 100px;
    height: 100px;
    overflow:hidden;
}

.takaosan{
    position: relative;
    width: 100px;
    height: 100px;
    overflow:hidden;
}
