.mokuji{
    float: left;
}

.senso-ji{
    position: relative;
    width: 640px;
    height: 480px;
    width:700px;
    margin-right: auto;
    margin-left : auto;
#url {text-align: center;

}

h1 {background-color: crimson;
    text-align: center;

}

