.mokuji{
    float: left;
}

.senso-ji{
    width:700px;
    margin-right: auto;
    margin-left : auto;
}

.senso-ji_2.jpg{
    position: relative;
    width: 640px;
    height: 480px;
}

h1 {
    color : #003333;
    background-color: turquoise;
    text-align: center;
}

h2 {
    color :teal
}

#url {
    text-align: center;
}
