body{
    width:700px;
    margin-right: auto;
    margin-left : auto;
}

div {
    width: 200px;
    background: #CCC;
}
.mokuji {
    margin-right: auto;
}

.takaosan{
    position: relative;
    width: 640px;
    height: 480px;
    overflow:hidden;
}
